@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
:root{
    --color-primary:#38761D;
    --color-secondary:#6FA8DC;
    --color-accent: #FFE599;
    --color-complement:#F9CB9C;
    --color-light:#B6D7A8;
    --color-dark:#1e1e1f;
    --font-title:"Roboto", sans-serif;
    --font-text:"Open Sans", sans-serif;
}